<div class="new drill_groups">
  <h2>Create Drill Groups</h2>
  <%= form_for(@drill_group) do |f| %>
    <table>
      <tr>
        <th>Drill Group Title</th>
        <td><%= f.text_field(:drill_group_name) %></td>
      </tr>
      <tr>
        <th>Difficulty</th>
        <td>
          <%= f.check_box :difficulty, id:"Easy", class:"checkbox",name:'group1'  %>
          <%= f.label "easy", for:"Easy" %>
          <%= f.check_box :difficulty, id:"normal",class:"checkbox",name:'group1' %>
          <%= f.label "normal", for:"normal" %>
          <%= f.check_box :difficulty, id:"hard",class:"checkbox",name:'group1' %>
          <%= f.label "hard", for:"hard"%>
        </td>
      </tr>
    </table>
    <div class="form-buttons">
      <%= f.submit("Update Drill Group", class:"waves-effect edit-button waves-light btn") %>
      <%= link_to("  Back to Drill Groups List", drill_groups_path, :class => "waves-effect  waves-light btn") %>
    </div>
  <% end %>
</div>
