<%= link_to("<<< Back to Drill Groups List", drill_groups_path, :class => "back-link") %>
<div class="new drill_groups">
  <h2>Create Drill Groups</h2>
  <%= form_for(@drill_group) do |f| %>
    <table>
      <tr>
        <th>Drill Group Title</th>
        <td><%= f.text_field(:drill_group_name) %></td>
      </tr>
      <tr>
        <th>Drill Difficulty</th>
        <td><%= f.text_field(:difficulty)%></td>
      </tr>
    </table>
    <div class="form-buttons">
      <%= f.submit("Update Drill Group") %>
    </div>
  <% end %>
</div>
