<h1>Sign In</h1>

<%= form_tag sessions_path do %>
  <div>
    <%= label_tag :email %>
    <%= email_field_tag :email %>
  </div>
  <div>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <%= submit_tag "Log In to Amazon", class: 'waves-effect waves-light btn' %>
<% end %>

<br />
<span class="signIn-left">Forgot password?</span>
<span class="signIn-right"><%= link_to 'Don\'t have an account? Sign up', new_user_path %></span>
