<div class="new drills">
  <h2>Create Drills</h2>
  <%= form_for(@drill) do |f| %>
  <table>
    <tr>
      <th>Drill Title</th>
      <td><%= f.text_field(:title) %></td>
    </tr>
    <tr>
      <th>Drill Points</th>
      <td><%= f.text_field(:points) %></td>
    </tr>
    <tr style='display:none'>
      <th>Drill Group</th>
      <td><%= f.text_field(:drill_group_id) %></td>
    </tr>
  </table>
    <div class="form-buttons">
      <%= f.submit("Update Drill",class:'waves-effect edit-button waves-light btn') %>
      <%= link_to("Back to Drill list", drills_path, :class => "waves-effect waves-light btn") %>
    </div>
  <% end %>
</div>
