<div class="index drills">
  <h2>Drills</h2>
  <%= link_to("Add New Drills", new_drill_path, :class => "waves-effect waves-light btn") %>
  <table class="listing">
    <tr class="header">
      <th>No.</th>
      <th>Title</th>
      <th>Points</th>
    </tr>
    <% counter = 0
    @drills.each do |drill| %>
      <tr>
        <td><%= counter += 1 %></td>
        <td><%= drill.title %></td>
        <td><%= drill.points %></td>
        <td>
          <div class = 'butonIndex'>
          <%= link_to("Edit", edit_drill_path(drill), :class => "waves-effect edit-button waves-light btn") %>
          <%= link_to("Delete", delete_drill_path(drill), :class => "waves-effect delete-button waves-light btn1 btn ") %>
        </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>
