<div class="index drills">
  <h2>Drills</h2>

  <%= link_to("Add New Drills", new_drill_path, :class => "action new") %>

  <table class="listing">
    <tr class="header">
      <th>No.</th>
      <th>Title</th>
      <th>Points</th>
    </tr>
    <% counter = 0
    @drills.each do |drill| %>
      <tr>
        <td><%= counter += 1 %></td>
        <td><%= drill.title %></td>
        <td><%= drill.points %></td>
        <td>
          <%= link_to("Edit", edit_drill_path(drill), :class => "action edit") %>
          <%= link_to("Delete", delete_drill_path(drill), :class => "action delete") %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
