<h3><%=@drill.title%></h3>

<div>

  <%= form_for @attempted_drill do |attempt| %>
    <% @answers.each do |answer|%>
    <div class="AnswersChoice">
      <%= radio_button_tag(:answer, answer.id.to_i) %>
      <%= label_tag( ("answer_" + "#{answer.id}").to_sym, "#{answer.body}") %>
    </div>
    <br>
    <% end %>
    <br>
    <%= attempt.submit "Answer", class:'waves-effect waves-light btn' %>
    <%= link_to "Next Drill", drill_path(@drill.id + 1), class:'waves-effect waves-light btn'%>
    <%= link_to "Drill Group", drill_groups_path(@dril), class:'waves-effect waves-light btn'%>
  <% end %>

  <% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <%= value %>
  </div>
  <% end %>
