<h2><%=@drill.title%></h2>

<!-- <% @answers.each do |answer| %>
 <li><%= radio_button_tag :answer, “#{option.id}“, false,  class: ‘radio-checkbox’ %>
 <%= label_tag "#{answer.body}" %></li>

 form

<% end %> -->

<%= form_for(@attempted_drill) do |f| %>
<%@answers.each do |answer| %>
  <div>
  <input type="radio" name="answer" value="<% answer.id %>"> <%=answer.body%>
  </div>
  <% end%>

  <%= f.submit %>
  <% end %>
