<h2><%=@drill.title%></h2>


<%= form_for @attempted_drill do |attempt| %>
  <% @answers.each do |answer|%>
    <%= radio_button_tag(:answer, answer.id.to_i) %>
    <%= label_tag( ("answer_" + "#{answer.id}").to_sym, "#{answer.body}") %>
    <br>
  <% end %>
  <br>
  <%= attempt.submit "Answer" %>
  <% end %>
  <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        
<%= link_to "Next Drill", drill_path(@drill.id + 1)%>
