<!DOCTYPE html>
<html>
  <head>
    <title>BytesMe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div>
      <span><%= link_to 'Home', home_path %></span>
      |
      <% if user_signed_in? %>
        <span>Hello, <%= current_user.full_name %>!</span>
        |
        <span><%= link_to 'Sign Out', sessions_path, method: :delete, data: {confirm: 'Logout?'} %></span>
      <% else %>
        |
        <span><%= link_to 'Log In', new_session_path %> </span>
        |
        <span><%= link_to 'Sign Up', new_user_path %> </span>
      <% end %>
        |
    </div>



    <%= yield %>
  </body>
</html>
